body {
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
    font-family: AmericanTypewriter, monospace;
}

a:link, a:visited {
    color: black;
}

a:hover, a:active {
    color: red;
    text-decoration: none !important;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 2px;
}

.box {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}

.box-round {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.hi {
    background-color: yellow;
}